/* phone screens */
@media only screen and (min-width: 320px) {
  html body #wrapper .arrows .back, body body #wrapper .arrows .back, html body #wrapper .arrows .next, body body #wrapper .arrows .next, html body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #f-buttons, body body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #f-buttons, html body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #track, body body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #track, html body #wrapper .slide:nth-of-type(1), body body #wrapper .slide:nth-of-type(1), html body #wrapper .slide:nth-of-type(2), body body #wrapper .slide:nth-of-type(2), html body #wrapper .slide:nth-of-type(3), body body #wrapper .slide:nth-of-type(3), html body #wrapper .slide:nth-of-type(4), body body #wrapper .slide:nth-of-type(4), html body #wrapper .slide:nth-of-type(5), body body #wrapper .slide:nth-of-type(5), html body #wrapper .slide:nth-of-type(6), body body #wrapper .slide:nth-of-type(6), html body #wrapper .slide:nth-of-type(7), body body #wrapper .slide:nth-of-type(7) {
    padding: 0;
    margin: 0; }

  html body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #track, body body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #track, html body #wrapper .slide:nth-of-type(1), body body #wrapper .slide:nth-of-type(1), html body #wrapper .slide:nth-of-type(2), body body #wrapper .slide:nth-of-type(2), html body #wrapper .slide:nth-of-type(3), body body #wrapper .slide:nth-of-type(3), html body #wrapper .slide:nth-of-type(4), body body #wrapper .slide:nth-of-type(4), html body #wrapper .slide:nth-of-type(5), body body #wrapper .slide:nth-of-type(5), html body #wrapper .slide:nth-of-type(6), body body #wrapper .slide:nth-of-type(6), html body #wrapper .slide:nth-of-type(7), body body #wrapper .slide:nth-of-type(7) {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

  html body #wrapper .arrows .back, body body #wrapper .arrows .back, html body #wrapper .arrows .next, body body #wrapper .arrows .next {
    display: inline-block;
    border-top: 9px solid gray;
    width: 30px;
    height: 25px;
    position: absolute;
    top: 48%;
    z-index: 10; }

  html body #wrapper #projects-section .card-view .card .front, body body #wrapper #projects-section .card-view .card .front, html body #wrapper #projects-section .card-view .card .back, body body #wrapper #projects-section .card-view .card .back, html body #wrapper #projects-section .card-view, body body #wrapper #projects-section .card-view, html body #wrapper #projects-section .card-view .card, body body #wrapper #projects-section .card-view .card {
    width: 270px;
    height: 380px; }

  html body #wrapper #projects-section .card-view .card .front, body body #wrapper #projects-section .card-view .card .front, html body #wrapper #projects-section .card-view .card .back, body body #wrapper #projects-section .card-view .card .back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    color: black;
    background-color: white;
    box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2); }

  html body #wrapper #projects-section, body body #wrapper #projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

  html body #wrapper #projects-section .card-view .card .front .toggle-label, body body #wrapper #projects-section .card-view .card .front .toggle-label, html body #wrapper #projects-section .card-view .card .back .toggle-label, body body #wrapper #projects-section .card-view .card .back .toggle-label {
    width: 80px;
    height: 20px;
    border: .2rem solid #0C5179;
    padding: .1rem .4rem .4rem;
    background: #0C5179;
    cursor: pointer;
    display: block;
    text-align: center;
    color: white;
    margin: 1rem auto; }
    html body #wrapper #projects-section .card-view .card .front .toggle-label:visited, body body #wrapper #projects-section .card-view .card .front .toggle-label:visited, html body #wrapper #projects-section .card-view .card .back .toggle-label:visited, body body #wrapper #projects-section .card-view .card .back .toggle-label:visited {
      color: white;
      border: .2rem solid #0C5179;
      background-color: #0C5179;
      text-decoration: none; }
    html body #wrapper #projects-section .card-view .card .front .toggle-label:hover, body body #wrapper #projects-section .card-view .card .front .toggle-label:hover, html body #wrapper #projects-section .card-view .card .back .toggle-label:hover, body body #wrapper #projects-section .card-view .card .back .toggle-label:hover {
      color: white;
      border: .2rem solid #0C5179;
      background-color: #0C5179;
      text-decoration: none; }
    html body #wrapper #projects-section .card-view .card .front .toggle-label:active, body body #wrapper #projects-section .card-view .card .front .toggle-label:active, html body #wrapper #projects-section .card-view .card .back .toggle-label:active, body body #wrapper #projects-section .card-view .card .back .toggle-label:active {
      color: white;
      border: .2rem solid #1277B1;
      background-color: #1277B1;
      text-decoration: none; }

  html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Oswald", sans-serif; }
    html body, body body {
      background: #001024; }
      html body #header, body body #header {
        margin: -.1rem 0rem 0rem;
        padding: 0;
        height: 4rem;
        background-color: #1D1D1D;
        position: fixed;
        z-index: 2;
        width: 100%;
        box-shadow: 0rem 0.4rem 1.5rem rgba(0, 0, 0, 0.4); }
        html body #header img#logo-pic, body body #header img#logo-pic {
          display: none;
          height: 2.5rem;
          float: left;
          margin: .8rem 0rem .5rem .5rem; }
        html body #header h1.logo, body body #header h1.logo {
          font-family: "Oswald", helvetica, sans-serif;
          margin: .75rem 0rem 0rem .5rem;
          padding: 0;
          color: #fbfbfb;
          font-size: 1.75rem;
          float: left; }
        html body #header div#menu, body body #header div#menu {
          float: right;
          padding-right: 1rem;
          margin-top: 1.2rem; }
          html body #header div#menu a, body body #header div#menu a {
            font-size: 1rem;
            color: white;
            border-bottom: .1rem solid white;
            padding: .1rem .25rem;
            margin: 0 .1rem;
            text-decoration: none; }
            html body #header div#menu a:visited, body body #header div#menu a:visited {
              color: white;
              border-bottom: .1rem solid white;
              text-decoration: none; }
            html body #header div#menu a:hover, body body #header div#menu a:hover {
              color: white;
              border-bottom: .1rem solid white;
              text-decoration: none; }
            html body #header div#menu a:active, body body #header div#menu a:active {
              color: #FFD213;
              border-bottom: .1rem solid #FFD213;
              text-decoration: none; }
      html body #wrapper, body body #wrapper {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        background-color: #DBDBDB; }
        html body #wrapper #marquee, body body #wrapper #marquee {
          margin: 3.7rem auto 0rem;
          background: url(/images/gc-clock.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
          height: 10rem;
          width: 100;
          position: relative; }
          html body #wrapper #marquee #marquee-words, body body #wrapper #marquee #marquee-words {
            position: absolute;
            text-align: right;
            right: 1rem;
            bottom: 1rem;
            font-size: 1rem;
            width: 16rem; }
            html body #wrapper #marquee #marquee-words h1, body body #wrapper #marquee #marquee-words h1 {
              margin: 0;
              padding: 0;
              color: white;
              font-size: 200%; }
            html body #wrapper #marquee #marquee-words #marquee-line, body body #wrapper #marquee #marquee-words #marquee-line {
              width: 50%;
              border-bottom: .1rem solid #FFD213;
              margin: 0rem;
              position: absolute;
              right: 0; }
            html body #wrapper #marquee #marquee-words h3, body body #wrapper #marquee #marquee-words h3 {
              margin: 0;
              color: white;
              font-size: 125%; }
        html body #wrapper #about-me-section, body body #wrapper #about-me-section {
          width: 90%;
          margin: 0 auto;
          display: block; }
          html body #wrapper #about-me-section .about-me-card, body body #wrapper #about-me-section .about-me-card {
            width: 90%;
            margin: 0 auto 1.2rem;
            padding: 1rem;
            background-color: white;
            box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
            text-align: center; }
            html body #wrapper #about-me-section .about-me-card p.about-info, body body #wrapper #about-me-section .about-me-card p.about-info {
              text-align: justify; }
        html body #wrapper .toggle-box, body body #wrapper .toggle-box {
          display: none; }
          html body #wrapper .toggle-box:checked ~ .card-view > .card, body body #wrapper .toggle-box:checked ~ .card-view > .card {
            transform: rotateY(180deg); }
        html body #wrapper #projects-section, body body #wrapper #projects-section {
          width: 95%;
          margin: 0 auto; }
          html body #wrapper #projects-section .card-view, body body #wrapper #projects-section .card-view {
            perspective: 1000px;
            margin: .5rem; }
            html body #wrapper #projects-section .card-view .card, body body #wrapper #projects-section .card-view .card {
              position: relative;
              transform-style: preserve-3d;
              transition: 750ms;
              text-align: center; }
              html body #wrapper #projects-section .card-view .card .front, body body #wrapper #projects-section .card-view .card .front {
                z-index: 2; }
                html body #wrapper #projects-section .card-view .card .front h2.project-name, body body #wrapper #projects-section .card-view .card .front h2.project-name {
                  text-align: center;
                  margin: 10px auto;
                  padding: 0; }
                html body #wrapper #projects-section .card-view .card .front img.project-icon, body body #wrapper #projects-section .card-view .card .front img.project-icon {
                  position: static;
                  margin: .5rem auto 1rem;
                  width: 12rem;
                  height: 12rem;
                  display: block; }
                html body #wrapper #projects-section .card-view .card .front .buttons, body body #wrapper #projects-section .card-view .card .front .buttons {
                  margin-bottom: 1.25rem; }
                  html body #wrapper #projects-section .card-view .card .front .buttons a, body body #wrapper #projects-section .card-view .card .front .buttons a {
                    background-color: white;
                    color: #0C5179;
                    border: .2rem solid #0C5179;
                    padding: .1rem .4rem;
                    text-decoration: none; }
                    html body #wrapper #projects-section .card-view .card .front .buttons a:visited, body body #wrapper #projects-section .card-view .card .front .buttons a:visited {
                      color: #0C5179;
                      border: .2rem solid #0C5179;
                      text-decoration: none; }
                    html body #wrapper #projects-section .card-view .card .front .buttons a:hover, body body #wrapper #projects-section .card-view .card .front .buttons a:hover {
                      border: .2rem solid #0C5179;
                      color: #0C5179;
                      text-decoration: none; }
                    html body #wrapper #projects-section .card-view .card .front .buttons a:active, body body #wrapper #projects-section .card-view .card .front .buttons a:active {
                      border: .2rem solid #1277B1;
                      color: #1277B1;
                      text-decoration: none; }
              html body #wrapper #projects-section .card-view .card .back, body body #wrapper #projects-section .card-view .card .back {
                transform: rotateY(180deg); }
                html body #wrapper #projects-section .card-view .card .back p, body body #wrapper #projects-section .card-view .card .back p {
                  width: 13rem;
                  font-family: arial, sans-serif;
                  font-size: 1rem; }
        html body #wrapper #skills-section, body body #wrapper #skills-section {
          width: 90%;
          margin: 0 auto 3rem;
          display: block; }
          html body #wrapper #skills-section #skills-card, body body #wrapper #skills-section #skills-card {
            display: block;
            width: 90%;
            margin: 0 auto;
            padding: 1rem;
            background-color: white;
            box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
            text-align: center;
            background-color: white;
            position: relative; }
            html body #wrapper #skills-section #skills-card #background .toggle-box, body body #wrapper #skills-section #skills-card #background .toggle-box {
              display: none; }
              html body #wrapper #skills-section #skills-card #background .toggle-box:checked ~ #bkg, body body #wrapper #skills-section #skills-card #background .toggle-box:checked ~ #bkg {
                display: block; }
            html body #wrapper #skills-section #skills-card #background img, body body #wrapper #skills-section #skills-card #background img {
              display: none;
              height: 3rem;
              position: absolute;
              right: 0;
              top: -3rem; }
            html body #wrapper #skills-section #skills-card #background label, body body #wrapper #skills-section #skills-card #background label {
              position: absolute;
              right: 0;
              top: 0;
              color: white;
              font-size: .75rem; }
            html body #wrapper #skills-section #skills-card p, body body #wrapper #skills-section #skills-card p {
              text-align: center; }
            html body #wrapper #skills-section #skills-card .skill-icons, body body #wrapper #skills-section #skills-card .skill-icons {
              display: flex;
              flex-wrap: wrap;
              justify-content: center; }
              html body #wrapper #skills-section #skills-card .skill-icons .skill-icon, body body #wrapper #skills-section #skills-card .skill-icons .skill-icon {
                width: 5rem;
                height: 7.5rem;
                margin: .5rem; }
        html body #wrapper #slideshow-section, body body #wrapper #slideshow-section {
          width: 90%;
          margin: 0 auto 3rem;
          display: block; }
          html body #wrapper #slideshow-section #slideshow-card, body body #wrapper #slideshow-section #slideshow-card {
            display: block;
            width: 90%;
            margin: 0 auto;
            padding: 1rem;
            background-color: white;
            box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
            text-align: center;
            background-color: white;
            position: relative; }
            html body #wrapper #slideshow-section #slideshow-card #slideshow-holder, body body #wrapper #slideshow-section #slideshow-card #slideshow-holder {
              width: 70%;
              max-width: 400px;
              margin: 1rem auto 2rem;
              display: block; }
              html body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show, body body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show {
                width: 100%;
                padding-top: 130%;
                margin: 0 auto;
                text-align: center;
                position: relative;
                overflow: hidden;
                text-align: center;
                vertical-align: bottom; }
                html body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show [type="radio"], body body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show [type="radio"] {
                  display: none; }
                html body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #f-buttons, body body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #f-buttons {
                  position: absolute;
                  bottom: 2%;
                  width: 100%;
                  height: 14px; }
                  html body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #f-buttons .fake-button, body body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #f-buttons .fake-button {
                    position: relative;
                    display: inline-block;
                    border-radius: 50%;
                    width: 14px;
                    height: 14px;
                    margin: 0 3px;
                    padding: 0;
                    z-index: 4; }
                    html body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #f-buttons .fake-button:hover, body body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #f-buttons .fake-button:hover {
                      background-color: #aaa; }
                html body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #track, body body #wrapper #slideshow-section #slideshow-card #slideshow-holder #slide-show #track {
                  position: absolute;
                  transition: transform .5s ease 0s; }
        html body #wrapper .arrows, body body #wrapper .arrows {
          position: absolute;
          top: 45%;
          left: 0;
          display: none;
          width: 100%; }
          html body #wrapper .arrows .back, body body #wrapper .arrows .back {
            border-left: 10px solid gray;
            transform: rotate(-64deg) skewX(-30deg);
            left: 2%;
            opacity: .5; }
            html body #wrapper .arrows .back:hover, body body #wrapper .arrows .back:hover {
              opacity: .8; }
          html body #wrapper .arrows .next, body body #wrapper .arrows .next {
            border-right: 10px solid gray;
            transform: rotate(64deg) skewX(30deg);
            right: 2%;
            opacity: .5; }
            html body #wrapper .arrows .next:hover, body body #wrapper .arrows .next:hover {
              opacity: .8; }
        html body #wrapper #s-1:checked ~ #track, body body #wrapper #s-1:checked ~ #track {
          transform: translateX(0%); }
        html body #wrapper #s-1:checked ~ #f-buttons .fake-button#b-1, body body #wrapper #s-1:checked ~ #f-buttons .fake-button#b-1 {
          background-color: #ccc; }
        html body #wrapper #s-1:not(:checked) ~ #f-buttons .fake-button#b-1, body body #wrapper #s-1:not(:checked) ~ #f-buttons .fake-button#b-1 {
          background-color: gray; }
        html body #wrapper #s-1:checked ~ .arrows:nth-of-type(1), body body #wrapper #s-1:checked ~ .arrows:nth-of-type(1) {
          display: block; }
        html body #wrapper .slide:nth-of-type(1), body body #wrapper .slide:nth-of-type(1) {
          background: url("../images/slideshow-photos/1.jpg");
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 100%;
          position: absolute;
          transform: translateX(0%); }
        html body #wrapper #s-2:checked ~ #track, body body #wrapper #s-2:checked ~ #track {
          transform: translateX(-100%); }
        html body #wrapper #s-2:checked ~ #f-buttons .fake-button#b-2, body body #wrapper #s-2:checked ~ #f-buttons .fake-button#b-2 {
          background-color: #ccc; }
        html body #wrapper #s-2:not(:checked) ~ #f-buttons .fake-button#b-2, body body #wrapper #s-2:not(:checked) ~ #f-buttons .fake-button#b-2 {
          background-color: gray; }
        html body #wrapper #s-2:checked ~ .arrows:nth-of-type(2), body body #wrapper #s-2:checked ~ .arrows:nth-of-type(2) {
          display: block; }
        html body #wrapper .slide:nth-of-type(2), body body #wrapper .slide:nth-of-type(2) {
          background: url("../images/slideshow-photos/2.jpg");
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 100%;
          position: absolute;
          transform: translateX(100%); }
        html body #wrapper #s-3:checked ~ #track, body body #wrapper #s-3:checked ~ #track {
          transform: translateX(-200%); }
        html body #wrapper #s-3:checked ~ #f-buttons .fake-button#b-3, body body #wrapper #s-3:checked ~ #f-buttons .fake-button#b-3 {
          background-color: #ccc; }
        html body #wrapper #s-3:not(:checked) ~ #f-buttons .fake-button#b-3, body body #wrapper #s-3:not(:checked) ~ #f-buttons .fake-button#b-3 {
          background-color: gray; }
        html body #wrapper #s-3:checked ~ .arrows:nth-of-type(3), body body #wrapper #s-3:checked ~ .arrows:nth-of-type(3) {
          display: block; }
        html body #wrapper .slide:nth-of-type(3), body body #wrapper .slide:nth-of-type(3) {
          background: url("../images/slideshow-photos/3.jpg");
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 100%;
          position: absolute;
          transform: translateX(200%); }
        html body #wrapper #s-4:checked ~ #track, body body #wrapper #s-4:checked ~ #track {
          transform: translateX(-300%); }
        html body #wrapper #s-4:checked ~ #f-buttons .fake-button#b-4, body body #wrapper #s-4:checked ~ #f-buttons .fake-button#b-4 {
          background-color: #ccc; }
        html body #wrapper #s-4:not(:checked) ~ #f-buttons .fake-button#b-4, body body #wrapper #s-4:not(:checked) ~ #f-buttons .fake-button#b-4 {
          background-color: gray; }
        html body #wrapper #s-4:checked ~ .arrows:nth-of-type(4), body body #wrapper #s-4:checked ~ .arrows:nth-of-type(4) {
          display: block; }
        html body #wrapper .slide:nth-of-type(4), body body #wrapper .slide:nth-of-type(4) {
          background: url("../images/slideshow-photos/4.jpg");
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 100%;
          position: absolute;
          transform: translateX(300%); }
        html body #wrapper #s-5:checked ~ #track, body body #wrapper #s-5:checked ~ #track {
          transform: translateX(-400%); }
        html body #wrapper #s-5:checked ~ #f-buttons .fake-button#b-5, body body #wrapper #s-5:checked ~ #f-buttons .fake-button#b-5 {
          background-color: #ccc; }
        html body #wrapper #s-5:not(:checked) ~ #f-buttons .fake-button#b-5, body body #wrapper #s-5:not(:checked) ~ #f-buttons .fake-button#b-5 {
          background-color: gray; }
        html body #wrapper #s-5:checked ~ .arrows:nth-of-type(5), body body #wrapper #s-5:checked ~ .arrows:nth-of-type(5) {
          display: block; }
        html body #wrapper .slide:nth-of-type(5), body body #wrapper .slide:nth-of-type(5) {
          background: url("../images/slideshow-photos/5.jpg");
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 100%;
          position: absolute;
          transform: translateX(400%); }
        html body #wrapper #s-6:checked ~ #track, body body #wrapper #s-6:checked ~ #track {
          transform: translateX(-500%); }
        html body #wrapper #s-6:checked ~ #f-buttons .fake-button#b-6, body body #wrapper #s-6:checked ~ #f-buttons .fake-button#b-6 {
          background-color: #ccc; }
        html body #wrapper #s-6:not(:checked) ~ #f-buttons .fake-button#b-6, body body #wrapper #s-6:not(:checked) ~ #f-buttons .fake-button#b-6 {
          background-color: gray; }
        html body #wrapper #s-6:checked ~ .arrows:nth-of-type(6), body body #wrapper #s-6:checked ~ .arrows:nth-of-type(6) {
          display: block; }
        html body #wrapper .slide:nth-of-type(6), body body #wrapper .slide:nth-of-type(6) {
          background: url("../images/slideshow-photos/6.jpg");
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 100%;
          position: absolute;
          transform: translateX(500%); }
        html body #wrapper #s-7:checked ~ #track, body body #wrapper #s-7:checked ~ #track {
          transform: translateX(-600%); }
        html body #wrapper #s-7:checked ~ #f-buttons .fake-button#b-7, body body #wrapper #s-7:checked ~ #f-buttons .fake-button#b-7 {
          background-color: #ccc; }
        html body #wrapper #s-7:not(:checked) ~ #f-buttons .fake-button#b-7, body body #wrapper #s-7:not(:checked) ~ #f-buttons .fake-button#b-7 {
          background-color: gray; }
        html body #wrapper #s-7:checked ~ .arrows:nth-of-type(7), body body #wrapper #s-7:checked ~ .arrows:nth-of-type(7) {
          display: block; }
        html body #wrapper .slide:nth-of-type(7), body body #wrapper .slide:nth-of-type(7) {
          background: url("../images/slideshow-photos/7.jpg");
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 100%;
          position: absolute;
          transform: translateX(600%); }
        html body #wrapper h2.section-title, body body #wrapper h2.section-title {
          display: block;
          width: 100%;
          margin-bottom: .25rem;
          padding-left: 1rem;
          font-size: 2rem;
          color: #0C5179;
          text-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2); }
        html body #wrapper .line, body body #wrapper .line {
          width: 10rem;
          margin: 1rem auto;
          border-bottom: .1rem solid #FFD213; }
        html body #wrapper p, body body #wrapper p {
          width: 90%;
          margin: 1rem auto;
          text-align: center;
          font-size: 1rem;
          font-weight: 400;
          color: #334; }
          html body #wrapper p span.tab, body body #wrapper p span.tab {
            margin-left: 2em; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  html {
    font-size: 16px; }
    html body #header img#logo-pic {
      display: block; }
    html body #wrapper {
      width: 85%; }
      html body #wrapper #marquee {
        height: 14rem; }
        html body #wrapper #marquee #marquee-words {
          font-size: 1.25rem;
          width: 20rem; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px; }
    html body #wrapper {
      width: 80%; }
      html body #wrapper #marquee {
        height: 18rem; }
        html body #wrapper #marquee #marquee-words {
          font-size: 1.75rem;
          width: 28rem; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  html {
    font-size: 16px; }
    html body #wrapper {
      width: 75%; }
      html body #wrapper #marquee {
        height: 22rem; }
        html body #wrapper #marquee #marquee-words {
          font-size: 1.5rem;
          width: 24rem; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px; }
    html body #wrapper {
      width: 70%; }
      html body #wrapper #marquee {
        height: 24rem; }
        html body #wrapper #marquee #marquee-words {
          font-size: 2rem;
          width: 32rem; } }
html.no-touch body #header div#menu {
  float: right;
  padding-right: 1rem;
  margin-top: 1.2rem; }
  html.no-touch body #header div#menu a {
    font-size: 1rem;
    color: white;
    border-bottom: .1rem solid white;
    padding: .1rem .25rem;
    margin: 0 .1rem;
    text-decoration: none; }
    html.no-touch body #header div#menu a:visited {
      color: white;
      border-bottom: .1rem solid white;
      text-decoration: none; }
    html.no-touch body #header div#menu a:hover {
      color: #A4E7FF;
      border-bottom: .1rem solid #A4E7FF;
      text-decoration: none; }
    html.no-touch body #header div#menu a:active {
      color: #FFD213;
      border-bottom: .1rem solid #FFD213;
      text-decoration: none; }
html.no-touch body #wrapper #projects-section .card-view .card .front .buttons {
  margin-bottom: 1.25rem; }
  html.no-touch body #wrapper #projects-section .card-view .card .front .buttons a {
    background-color: white;
    color: #0C5179;
    border: .2rem solid #0C5179;
    padding: .1rem .4rem;
    text-decoration: none; }
    html.no-touch body #wrapper #projects-section .card-view .card .front .buttons a:visited {
      color: #0C5179;
      border: .2rem solid #0C5179;
      text-decoration: none; }
    html.no-touch body #wrapper #projects-section .card-view .card .front .buttons a:hover {
      border: .2rem solid #1277B1;
      color: #1277B1;
      text-decoration: none; }
    html.no-touch body #wrapper #projects-section .card-view .card .front .buttons a:active {
      border: .2rem solid #FFD213;
      color: #FFD213;
      text-decoration: none; }
html.no-touch body #wrapper #projects-section .card-view .card .front .toggle-label {
  width: 80px;
  height: 20px;
  border: .2rem solid #0C5179;
  padding: .1rem .4rem .4rem;
  background: #0C5179;
  cursor: pointer;
  display: block;
  text-align: center;
  color: white;
  margin: 1rem auto; }
  html.no-touch body #wrapper #projects-section .card-view .card .front .toggle-label:visited {
    color: white;
    border: .2rem solid #0C5179;
    background-color: #0C5179;
    text-decoration: none; }
  html.no-touch body #wrapper #projects-section .card-view .card .front .toggle-label:hover {
    color: white;
    border: .2rem solid #1277B1;
    background-color: #1277B1;
    text-decoration: none; }
  html.no-touch body #wrapper #projects-section .card-view .card .front .toggle-label:active {
    color: white;
    border: .2rem solid #FFD213;
    background-color: #FFD213;
    text-decoration: none; }
html.no-touch body #wrapper #projects-section .card-view .card .back .toggle-label {
  width: 80px;
  height: 20px;
  border: .2rem solid #0C5179;
  padding: .1rem .4rem .4rem;
  background: #0C5179;
  cursor: pointer;
  display: block;
  text-align: center;
  color: white;
  margin: 1rem auto; }
  html.no-touch body #wrapper #projects-section .card-view .card .back .toggle-label:visited {
    color: white;
    border: .2rem solid #0C5179;
    background-color: #0C5179;
    text-decoration: none; }
  html.no-touch body #wrapper #projects-section .card-view .card .back .toggle-label:hover {
    color: white;
    border: .2rem solid #1277B1;
    background-color: #1277B1;
    text-decoration: none; }
  html.no-touch body #wrapper #projects-section .card-view .card .back .toggle-label:active {
    color: white;
    border: .2rem solid #FFD213;
    background-color: #FFD213;
    text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
