@media only screen and (min-width : 320px) {
  h1 {
    color: orange;
  }
  h1.logo {
    font-size: 20px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  h1 {
    color:aquamarine;
  }
  h1.logo {
    font-size: 27px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
h1 {
  color: red;
}
  html {
    font-size: 14px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
h1 {
  color: pink;
  font-size: 24px;
}
  html {
    font-size: 16px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
h1.logo {
  color: black;
  font-size: 2.29rem;
}
  html {
    font-size: 16px;
  }
}

.red {
  background-color: red;
  text-align: center;
}
.blue {
    background-color: blue;
  text-align: center;
}

/*MEDIA QUERIEESSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/
/*COLORS
#CDCDCD darker white
#88BBD6 dark blue
#e9e9e9 lighter white
#99d3df lighter blue
*/
#back-column {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  background-color: #36c;
  position: fixed;
  z-index: -1;
  overflow: hidden;
  left: 15%;

}
html {
}
body { 
  background: #003 !important;
  margin: 0 auto;
}
.header {
  background-color: #039;
}
h1.logo {
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 10px;
  padding-top: 3px;
  padding-right: 0px;
  color: #fbfbfb;
}

nav {
  margin-top: 1.5%;
}

a {
  margin-top: 20px;
  font-size: 1rem;
  color: #e9e9e9;
  padding: 0px 0px;
  border-bottom: 2px solid #e9e9e9;
}

h2.section-title {
  font-size: 1.5rem;
  font-style: italic;
  padding: 0;
  text-decoration: underline;
  color: #e9e9e9;
  padding-left: 30px
}

p.about-me {
  padding: 5px;
  background-color: #e9e9e9;
}


div.skills {
  background-color: #e9e9e9;
  box-shadow: 10px 10px 10px #129;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}
div.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
p {
  display: block;
  margin-bottom: 10px;
}
.skill-icon {
  float: left;
  width: 80px;
  height: 110px;
  margin: 10px;
  display: inline-block;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); 
}
.projects {
  margin-bottom: 20px;
  background-color: #e9e9e9;
  box-shadow: 10px 10px 10px #129;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}
.project-showcase {
  padding-bottom: 20px;
  width: 24rem;
}
h3 {
  font-size: 1.5rem;
  margin-right: .9rem;
  display: inline-block;
}

img.phone-icon {
  width: 150px;
  height: 240px;
  float: left;
}

.project-info {
  float: left;
  margin-left: 20px;
}
.project-title {
}
.buttons {
  font-size: 1rem;
  margin-bottom: 10px;
}
.project-showcase p {
  float: left;
  width: 85%;

}
